<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food_Mood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>787BB81C2020FF6D00A6C7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787BB8302020FF6D00A6C7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787BB83B2020FF6D00A6C7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
